@import '../../../styles/variables';

.die {
	display: flex;
	justify-content: space-around;
	align-items: center;
	width: 200px;
	height: 75px;
	padding-left: 15px;
	color: $color-text;
	background-color: $color-bg;
	transition: background-color 0.25s;

	&:before {
		position: absolute;
		left: 0;
		top: 0;
		content: '';
		width: 3px;
		height: 100%;
		transition: background-color 0.25s;
	}

	&:hover {
		cursor: pointer;
		background-color: $color-bg-light;
	}

	&__name {
		display: block;
	}

	&__status {
		display: flex;
		flex-direction: column;
	}

	&--selected {
		position: relative;
		background-color: $color-bg-light;

		&:before {
			background-color: $color-primary;
		}
	}
}