.die {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	width: 75px;
	height: 75px;
	margin: 5px 5px 25px;
	font-weight: 300;
	font-size: 18px;
	letter-spacing: 2px;
	color: #fff;
	background-color: #357CF5;
	transition: background-color 0.25s;

	&:hover {
		cursor: pointer;
		background-color: adjust-hue(#357CF5, 20deg);
	}
}