/* You can add global styles to this file, and also import other style files */

@import './styles/variables';

html, body {
	min-height: 100vh;
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	background-color: #4A1345;
	color: #fff;
}